<h1>Home Index</h1>

<h1 class="border rounded-lg">
  hotwired
</h1>
<div class="hotwired border rounded-lg">
 <%= turbo_stream_from "user_notifications"  %>
  <%= turbo_frame_tag "user_notifications" do %>
		<% 5.times do %>
		  <%= render 'shared/display_string', random_string: SecureRandom.uuid %>
		<% end %>
	<% end %>
</div>
